.destination-title {
    border: 1px solid black;
}

.itinerary-card {
    border: 1px solid black;
    background-color:var()
}

.itinerary-day {
    border: 1px solid black;
}

.itinerary-activity {
    border: 1px solid black;
    background-color: #FEFAF5;
}
