.hero__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 20px 80px;
  background-color: #fefaf5;
  display: flex;
  justify-content: space-between;
}

.hero__cta {
  color:var(--primary);
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__container p {
  font-size: 10px;
}

.hero-button {
  max-width: 140px;
  color: var(--white);
  background-color: var(--secondary);
  border: none;
  margin-top: 15px;
  border-radius: 50px;
  height: 30px;
}

.hero-plane-image {
  max-width: 300px;
  height: auto;
}





.recommendations__container {
  border: 1px solid black;
  background-color: #ffffff;
}

.recommendations-title {
  border: 1px solid black;
}

.recommendations-hawaii {
  border: 1px solid black;
}

.box-hawaii {
  border: 1px solid black;
}

.recommendations-iceland {
  border: 1px solid black;
}

.box-iceland {
  border: 1px solid black;
}

.recommendations-greece {
  border: 1px solid black;
}

.box-greece {
  border: 1px solid black;
}
