.hero__container {
    border: 1px solid black;
    background-color: #FEFAF5;
}

.recommendations__container{
    border: 1px solid black;
    background-color: #FFFFFF;;
}

.footer__container{
    border: 1px solid black;
    background-color: #FEFAF5;
}

.hero__traveling{
    border: 1px solid black;
}

.traveling-dreams {
    border: 1px solid black;
}

.traveling-button {
    border: 1px solid black;
}

.recommendations-title {
    border: 1px solid black;
}

.text-hawaii {
    border: 1px solid black;
}

.box-hawaii {
    border: 1px solid black;
}

.text-iceland {
    border: 1px solid black;
}

.box-iceland {
    border: 1px solid black;
}

.text-greece {
    border: 1px solid black;
}

.box-greece {
    border: 1px solid black;
}